<h1>
  Prepared!
</h1>

<h2>
  Click this
  <%= form_with url: '/real_time_info', method: 'get' do |form| %>

    <%= form.hidden_field :string, name: 'room_id', value: @room_id %>
    <%= form.hidden_field :string, name: 'user_id', value: @user_id %>
    <%= form.hidden_field :string, name: 'player_detail', value: @player_detail %>

    <%= form.button 'Button' %>
  <% end %>
  to begin game.
</h2>

<hr>
<%= @red_or_blue %>